body{
	background-color: #666666;
	color: #fff;
}
.btnLihatIpk{
	background-color: #8AA1F9;	
	color: white;
	height: 75px;
	width: 150px;
	font-size: 30px;
	border-radius: 7px;
	margin-left: 25%;
	cursor: pointer;
	margin-top: 20px;
}
.bos{
	font-size: 42px;
	margin-left: 25%;
}

.btnLihatIpk:hover{
	transform: scale(1.1);
	transition: all .2s ease-in-out;
	text-decoration: none;	
}